/*.log
/target
/*-init.clj
/resources/public/js/compiled
/resources/public/css/compiled
/resources/public/js/workspaces
out
.#*
.lein-env
.lein-repl-history
.lein-failures
.idea
.java-version
.nrepl-port
.DS_STORE
/output
template.yml
profiles.clj
node_modules
config/*.edn
.shadow-cljs
.cpcache
