;; shadow-cljs configuration
{:nrepl {:port 7777}

 :deps   {:aliases [:provided :dev]}

 :builds
 {:app
  {:target     :browser
   :modules    {:app {:entries [rastit-gpx.core]}}
   :output-dir "resources/public/js/compiled"
   :asset-path "/js/compiled"
   :dev        {:compiler-options {:closure-defines {re_frame.trace.trace_enabled?        true
                                                     ;;day8.re-frame.tracing.trace-enabled? true
                                                     }}}

   :devtools   {:http-root    "resources/public"
                :http-handler shadow.http.push-state/handle
                :http-port    8280
                :after-load   rastit-gpx.core/mount-root
                :preloads     [devtools.preload
                               ;;day8.re-frame-10x.preload
                               ]}}}}
